.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App .left-panel{
  display: flex;
  height: 100vh;
  justify-content: flex-start;
  background-color: azure;
  align-items: center;
  flex-direction: column;
  width: auto;
}
.App .right-panel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: auto;
}