*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* font-family: 'Roboto', sans-serif; */
}
:root{
  --background-dark-theme-right: #1e1e2f;
  --background-dark-theme-left: #2a2a3d;
  --background-dark-sender: #4d4d63;
  --background-dark-reciver: #343450;
  --background-input: rgb(55, 65, 81, 1);
  --color-input:rgb(156,163,175,1);
  --text-dark-theme: white;
}
::-webkit-scrollbar {
  width: 8px;
  height: 12px; 
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-dark-theme-left);
  border-radius: 10px; /* roundness of the scroll thumb */
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e2e3d;
}

.App .left-panel{
  width: auto;
  min-width: 300px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0 16px 0 16px;
  background-color: var(--background-dark-theme-left);
  color: var(--text-dark-theme);
}
.left-panel .search{
  width: 100%;
  margin: 10px 15px 0 15px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-panel .search input{
  width: 100%;
  margin-top: 8px;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--background-input);
  border: none;
  border-radius: 4px;
  color: var(--color-input);
  outline: none;
}
.left-panel .search-result{
  display: flex;
  text-align: start;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: auto;
  background-color: var(--background-dark-theme-left);
}
.left-panel .search-result .search-result-text{
  width: 100%;
  max-width: calc(300px - 32px);
  display: flex;
  font-size: 1rem;
  margin: 8px 16px;
  justify-content: flex-start;
  align-items: flex-start;
}
.private-chats{
  color: var(--text-dark-theme);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.private-chats .chat{
  width: 100%;
  height: 50px;
  padding: 8px 8px 8px 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
}
.private-chats .chat .chat-data{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 8px;
}
.left-panel .chat:hover{
  background-color: rgb(42, 42, 49);
}

.left-panel .private-chats .chat .chat-data .last-message{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-align: start;
  flex-wrap: nowrap;
  color: gray;
}
.left-panel .private-chats .chat .chat-data .last-message .last-message-text{
  width: auto;
  max-width: 150px;
  padding-right: 8px;
  overflow: hidden; /* Ukrycie zawartości, która nie mieści się w kontenerze */
  white-space: nowrap; /* Zapobieganie zawijaniu tekstu */
  text-overflow: ellipsis; 
}
.left-panel .private-chats .chat .chat-data .last-message .last-message-time{
  display: flex; /* Używamy flexbox do umieszczenia obu elementów w jednym rzędzie */
  align-items: center; /* Wyśrodkowanie zawartości w pionie */
  padding-left: 8px;
}
.left-panel .sign-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  cursor: pointer;
  align-items: center;
  margin: 0 0 20px 0;
}
.left-panel .sign-btn a{
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  color: var(--background-dark-theme-left);
  text-decoration: none;
  font-size: 1rem;
  background-color: white;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
}
.App .right-panel {
  display: flex;
  background-color: var(--background-dark-theme-right);
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  flex-direction: column;
  position: relative; /* Konieczne do pozycjonowania elementów potomnych */
}
.right-panel .user-panel{
  width: 100%;
  height: auto;
  min-height: 50px;
  padding: 10px 0 20px 0;
  background-color: var(--background-dark-theme-left);
}
.right-panel .messages-panel{
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
}

.right-panel .message-field {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--background-dark-theme-left);
  align-items: center;
  padding: 20px 0 20px 0;
}

.right-panel .message-field .message-field-type {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 16px;
  background-color: var(--background-input);
  border-radius: 4px;
  /* padding: 8px; Dodatkowy padding dla estetyki */
}

.right-panel .message-field .message-field-type input {
  width: 100%; /* Aby input wypełnił całą szerokość rodzica */
  font-size: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--color-input);
}
.right-panel .message-field button {
  font-size: 1rem;
  width: auto;
  border-radius: 4px;
  margin: 0 0 0 10px;
  cursor: pointer;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border: none;
  background-color: rgb(37, 99, 235, 1);
  color: var(--color-input);
}
.right-panel .chat-panel{
  color: var(--text-dark-theme);
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 20px;
}
.right-panel .chat-panel .sender-chat{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.right-panel .chat-panel .reciver-chat{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.right-panel .chat-panel .reciver-chat span{
  width: auto;
  max-width: 30%;
  flex-wrap: wrap;
  background: var(--background-dark-reciver);
  border-radius: 10px 10px 10px 0;
  padding: 20px;
}
.right-panel .chat-panel .sender-chat span{
  width: auto;
  max-width: 30%;
  flex-wrap: wrap;
  background: var(--background-dark-sender);
  border-radius: 10px 10px 0 10px;
  padding: 20px;
}
.right-panel .chat-panel .sender-chat img, .reciver-chat img{
  width: auto;
  height: auto;
  justify-self: flex-start;
  align-self: flex-end;
  padding: 0 10px 0 10px;
}
